<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="WebService.TestService" behaviorConfiguration="SoapRestBehavior">
        <endpoint address="soap" name="soap" binding="basicHttpBinding" contract="WebService.ITestService" />
        <endpoint address="rest" name="rest" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="WebService.ITestService" />
        <endpoint address="mex" name="mex" binding="mexHttpBinding" contract="WebService.ITestService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SoapRestBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
